.mainContent {
  min-height: calc(100vh - 200px);
}
.container {
  transition: width linear 0.2s;
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
    .container {
      width: 96%;
    }
  }
